= form_tag session_path do
  %div.field
    = label_tag :login, t('.login')
    %br
    = text_field_tag :login, params[:login], size: 30
  %div.field
    = label_tag :password, t('.password')
    %br
    = password_field_tag :password, '', size: 30
  %div.field  
    = check_box_tag :remember_me, 1, params[:remember_me]
    = label_tag :remember_me
  %div.submit
    = submit_tag t('.submit')