!!!
%html
  %head
    %title Auth
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Nova+Slim', "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      %div{id: "flash"}
        %span{class: "#{name}"}= msg
    #content
      = yield
